<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th><%= logged_label%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'layouts/table' %>

  </tbody>
</table>

<br>




